grant {
    //ml-commons client
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "setContextClassLoader";
    
    // s3 client opens socket connections for to access repository
    permission java.net.SocketPermission "*", "connect,resolve";

    // s3 client set Authenticator for proxy username/password
    permission java.net.NetPermission "setDefaultAuthenticator";

    // only for tests : org.opensearch.repositories.s3.S3RepositoryPlugin
    permission java.util.PropertyPermission "opensearch.allow_insecure_settings", "read,write";

    permission java.util.PropertyPermission "aws.sharedCredentialsFile", "read,write";
    permission java.util.PropertyPermission "aws.configFile", "read,write";
    permission java.util.PropertyPermission "opensearch.path.conf", "read,write";

    permission java.io.FilePermission "/Users/widdisd/.aws/credentials", "read,write";
    permission java.io.FilePermission "/Users/widdisd/.aws/config", "read,write";
    
    permission java.io.FilePermission "config", "read";
};