name: Validate Gradle Wrapper
on:
  push:
    branches-ignore:
      - 'whitesource-remediate/**'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  validate:
    name: Validate
    if: github.repository == 'opensearch-project/opensearch-ai-flow-framework'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1
